body { font-family: 'Arial'; background: lightgray } 
#search, #totalPick{    
    background-color: #f7eeee;
    padding-left: 12px;  
}
 
#search:focus, #totalPick:focus{
    box-shadow: none;
    border-color: #d6c0c0;
}

.btn-block {
    color: #2b0202;
    background-color: #fff;
    border-color: #fff;
}

.main-wrapper{
    padding: 20px; 
}

.main-wrapper div.custom-card{
margin: 3px auto
}
  .search-area { 
    width: 50%;  
    padding: 20px; 
    padding: 13px;  
    display: block;
    margin: 20px auto;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
  #search{
      width: 70%;
  }